<div class="subscribe container section_margin mb-3">
  <div class="subscribe_container">
      <h2>Subscribe now and be the first to receive these exclusive offers</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur ratione quae ullam. Quisquam explicabo doloremque, ipsam, aspernatur eius, aliquam pariatur exercitationem quae maiores omnis similique magnam. Amet, repellendus. Iure quibusdam nihil quod dicta explicabo aliquid recusandae temporibus, architecto dolores. Voluptas!</p> -->
       <div class="" style="">
        <div class="input-group mb-3 m-auto" >
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
        </div>
       </div>

       <!-- <form action="#">
        <input type="email" placeholder='Write your email here' />
        <a href="#" class='btn'>Subscribe</a>
    </form> -->
      
  </div>
</div>